<head>
  <title>
    <%= content_for?(:title) ? yield(:title) : "MOJI WALLET" %>
  </title>
  <%= javascript_importmap_tags %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <script src="//unpkg.com/alpinejs" defer></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%# <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%# <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%# <%= stylesheet_link_tag  'application', 'data-turbolinks-track': 'reload' %>
  <%# <%= javascript_include_tag "application", defer: true %>
  <%# <%= javascript_importmap_tags %>
  <%= javascript_include_tag 'https://js.stripe.com/v3/', 'data-turbolinks-track': 'reload' %>
</head>
