<body class="antialiased bg-slate-200">
  <div class="max-w-lg mx-auto my-10 bg-white p-8 rounded-xl shadow shadow-slate-300">
    <h1 class="text-4xl font-medium">Mojiã‚’è´ˆã‚‹</h1>
    <p class="text-slate-500">ðŸ‘‹</p>
    <%= form_with model: @trade_message,url:wallet_trades_path, local: true do |f| %>
      <div action="" class="my-10">
        <div class="flex flex-col space-y-5">
          <div class="field">
            <%= f.label :message, 'ãƒ¡ãƒƒã‚»ãƒ¼ã‚¸',class:'font-medium text-slate-700 pb-2' %><br/>
            <%= f.text_field :message,class:'w-full py-3 border border-slate-200 rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow',placeholder:"ãƒ¡ãƒƒã‚»ãƒ¼ã‚¸" %>
          </div>
          <div class="field">
            <%= f.label :quantity, 'æ–‡å­—æ•°',class:'font-medium text-slate-700 pb-2' %><br/>
            <%= f.number_field :quantity,class:'w-full py-3 border border-slate-200 rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow',placeholder:"æ–‡å­—æ•°" %>
          </div>
          <div class="field">
            <%= f.label :unit_price, 'å˜ä¾¡',class:'font-medium text-slate-700 pb-2' %><br/>
            <%= f.number_field :unit_price,class:'w-full py-3 border border-slate-200 rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow',placeholder:"å˜ä¾¡" %>
          </div>
          <button class="w-full py-3 font-medium text-white bg-indigo-600 hover:bg-indigo-500 rounded-lg border-indigo-500 hover:shadow inline-flex space-x-2 items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1" />
            </svg>
            <%= f.submit "è´ˆã‚‹" %>
          </button>
          <p class="text-center">Not registered yet? <a href="#" class="text-indigo-600 font-medium inline-flex space-x-1 items-center"><span>Register now </span><span><svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                </svg></span></a></p>
        </div>
      </div>
    <% end %>
  </div>
</body>
